body{
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;

	/* Shortcut

	font: normal 16px Arial, Helvetica, sans-serif;
	*/

	line-height:1.6em;
	margin:0;

}

.container{
	width:500px;
}

.box-1{
	background-color:#333333; /*shortcut: #333 */
	color:#fff; 
}