
/**	

*{ 
	margin:0;
	padding:0;
}

(the asteric (*) essentially stands for everything) 	
(what this code does it does a reset for all of the padding or margins automatically there (eg, in the h1 command, there's automatically some padding, and this code deletes that))

**/



body{
	/**Grey Background**/
	background-color:#f4f4f4;
	/**Grey Text**/
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;

	/** how to do all of the above in one line of code:
	 * 
	 * font: normal 16px Arial, Helvetica, sans-serif;
	 * 
	 **/

	line-height: 1.6em; /**em for wide space between letters, px for smaller spaces**/
	margin:0;


}

a{
	text-decoration: none; /* <-- gets rid of annoying hyperlink underline */
	color:#000; /* changes the link from a blue to a black colour */
}

a:hover{        /* a:hover is what happens when you hover your mouse over the link */
	color:red;  /* when you hover your mouse over the link it turns red */
}

.container{
	width:80%; /**use percentages, becuase it makes the text box shrink to fit the page if you make it smaller**/
	margin:auto;
}

a:active{
	color:purple; /* when the link is clicked it will flash purple for a few milliseconds (and if held down it will stay purple until you let go) before going to the link's location */
}

/*

a:link{
	color:red;    
	}

(when you have already clicked on the link and gone to it's location, if you go back to the page it will appear red instead of black)
*/

.box-1{
	background-color:#333333; 
	color:#fff;

	border-right:5px red solid; /** when making borders remember: first value is size, second value is colour, final value is type/style **/
	border-left:5px red solid;
	border-top:5px red solid;
	border-bottom:5px red solid;

	/**short version of the above: 

	border: 5px red solid;

	 **/

	border-width:3px; /** <-- targets all border sides **/

    border-bottom-width:10px; /** <-- targets only one border side **/

    /*border styles: solid, dotted, dashed, double, ect. **/

    border-top-syle:dotted;


    /** although, i dont need those, so i'm going to overwrite them with the code below: **/

    border: 5px red solid;


    /** padding (makes text boxes have more empty space filled with just colour**/


    padding-top:20px;
    /** ect. **/

    /* code below does left, right, bottom and top padding */
    padding:20px;

    /* moves box down, by creating space above it (20 pixels to be exact) */
    margin-top:20px;

    /* or, to make the margin all around, 

    margin:20px;    

    */

    /* or, top to bottom, */
    margin:20px 0; /* the 0 makes it so that on the right and left no pixels are added */
 
}



.box-1 h1{
	font-family:Tahoma;
	font-weight:800;
	font-style:oblique;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border:4px dotted #ccc;
	padding:20px;
	margin:20px 0;
}

.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
}

.categories h2{
	text-align:center;
}

.categories ul{
	padding:0;
/*  list-style:square; turns the list bullet points into squares*/
    list-style:none; /* gets rid of any of the bullet points */
}

.categories li{
	padding-bottom:6px;
	border-bottom:dotted 1px #333;
/*  list-style-image: url('../foldername/filename');     (lets you add a small picture next to every category)*/
}




















